<!DOCTYPE html>
<html>
<head>
    <title>
        Stock Predictor
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/lightweight-charts@4.2.3/dist/lightweight-charts.standalone.production.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <nav>
        <a href="{{ url_for('info') }}">Info</a>
    </nav>
</head>
<body>
    <h1>Stock Predictor</h1>
    <section>
        <label>Select stock
            <select id="Select-Stock">
                <option value="GC=F">Gold</option>
                <option value="EURUSD=X">EUR/USD</option>
                <option value="AUDUSD=X">AUD/USD</option>
                <option value="GBPUSD=X">GBP/USD</option>
                <option value="USDJPY=X">USD/JPY</option>
            </select>
        </label>
        <label>Select timeframe
            <select id="Select-Timeframe">
                <option value="1m">1 minute</option>
                <option value="5m">5 minutes</option>
                <option value="15m">15 minutes</option>
                <option value="1h">1 hour</option>
                <option value="1d">1 day</option>
            </select>
        </label>
        <button type="button" class="News-btn">View Current News for Stock</button>
        <button type="button" class="Recommend-btn">Get AI Recommendation</button>
        <button type="button" class="Predict-btn">Start Prediction</button>
    </section>
    <div id="loading-container">
        <div id="loading-bar" class="loading-bar" style="display: none;"></div>
    </div>
    <div id="tvchart"></div>
    <div class="dashboard-grid">
        <div id="prediction-panel"></div>
        <div id="recommendation-panel"></div>
        <div id="news-panel"></div>
    </div>
    <footer>
        <img src="{{ url_for('static', filename='z8keelogo.png') }}" alt="z8kee logo" class="footer-logo">
        <p>&copy; z8kee. All rights reserved.</p>
    </footer>
    <script src="static/view.js"></script>
</body>
